html {
  scroll-padding-top: 200px;
  /* header ke height ke barabar */
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
  text-align: center;
  background-color: #3f4d7f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 25px;
  text-shadow: 2px 2px 10px black;
  color: white;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

button {
  background-color: rgba(255, 69, 0, 0.9);
  border: none;
  color: white;
  padding: 12px 25px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: #ff3300;
  transform: scale(1.05);
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #3d259c;
  z-index: 1000;
  text-align: center;
  padding: 15px 0;
}

.image-container {
  max-width: 900px;
  margin: 30px auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.image-container img {
  width: 100%;
  height: auto;
  /* automatically adjusts height according to width */
  display: block;
  border-radius: 20px;
  transition: transform 0.4s ease;
}

.image-container img:hover {
  transform: scale(1.03);
  /* thoda zoom hover effect */
}


.Ingredients-list {
  color: rgb(255, 255, 255);
  text-align: left;
  
  line-height: 1.6;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.8rem;
  }

  button {
    width: 80%;
  }

  .image-container {
    margin: 15px;
  }

}


.resume-footer {
  color: rgb(255, 255, 255);

}